# node dependencies
node_modules

build

# JetBrains project files
*.iml
*.xml

# sass cache files 
*.scssc

# terminal logs
*.out
*.log

# Not sure :/
*.swp

package-lock.json

# Local Netlify folder
.netlify