lectures.aran.site {
	proxy / localhost:2369
}

aran.site, aranlong.co.uk {
	ext .html .md
	gzip
	log access.log
	errors error.log
	
	root public/base/app

	redir /resume https://static.aran.site/files/resume.pdf
	redir /cv https://static.aran.site/files/cv.pdf
	redir /projects https://blog.aran.site/projects
}

static.aran.site {
	gzip
	root static
}

blog.aran.site, blog.aranlong.co.uk {
	proxy / localhost:2368
}
