aran.site {
	ext .html .md
	gzip
	log access.log
	errors error.log
	root public
	#startup gulp
	#startup gulp watch &
}

static.aran.site {
	root static
}

blog.aran.site {
	ext .md	

	markdown /posts {
		css https://static.aran.site/blog/css/normalize.css
		css https://static.aran.site/blog/css/skeleton.css
		css https://static.aran.site/blog/css/post.css
		template https://static.aran.site/blog/post.html
	}
	
	rewrite {
		to {path} {path}/ /posts{uri}
	}	
}
