doctype html
html
  head
    meta(charset='UTF-8')
    title Aran Long - Hacker, Maker, Comp Sci
    link(rel='canonical' href='https://aran.site')
    meta(name='viewport' content='width=device-width initial-scale=1')
    meta(name='robots' content='index,follow')
    meta(property='og:title' content='Aran Long - Hacker, Maker, Comp Sci')
    meta(property='og:site_name' content='Aran Long - Hacker, Maker, Comp Sci')
    meta(name='description' content='Aran Long is a graduate software engineer, hacking on the side and always looking for fintech opportunities')
    meta(property='og:image' content='/logo.png')
    meta(property='og:url' content='https://aran.site')
    meta(property='og:description' content='Aran Long is a graduate software engineer, hacking on the side and always looking for fintech opportunities')
    link(rel='stylesheet' href='css/style.css')
    link(rel='shortcut icon' href='favicon.ico' type='image/x-icon')
  body
    header.header.centred
      .container
        img.logo(src='/logo.png' alt='Aran Long\'s geometric logo')
        h1 ARAN LONG
        a(href='https://aran.site/resume') RESUME
        a  |   
        a(href='https://blog.aran.site') BLOG
        a  |   
        a(href='#contact') CONTACT
    section#projects.projects.centred
      .container
        .project
          h1 PROJECTS

        .project
          a(href='https://devpost.com/software/pedalo')
            h2 PEDALO
          p CREDENTIAL VERIFICATION USING THE ETHEREUM BLOCKCHAIN
        hr
        .project
          a(href='https://devpost.com/software/see-81a6u7')
            h2 SEE
          p HELPING THE BLIND SEE WITH DEEP LEARNING
        hr
        .project
          a(href='http://blog.aran.site/cisco/')
            h2 PERMISSION CLOUD
          p BLOCKCHAIN BASED IOT SECURITY
        hr
        .project
          a(href='https://devpost.com/software/danceauth')
            h2 DANCEAUTH
          p SHAPE SLICING SECURITY
        hr
        .project
          a(href='https://devpost.com/software/notifi-click')
            h2 NOTIFI.CLICK
          p NO-COST HARDWARE NOTIFICATIONS
    section#contact.contact.centred
      .container
        h1 CONTACT
        .contact-details
          ul
            li: a(href='mailto:me@aran.site') me@aran.site
            li: a(href='https://aran.site') https://aran.site
          br
    footer#footer
      a Copyright © Aran Long
      a(href='https://github.com/aranscope/aran.site')  - Github Source
