doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        
        link(rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/6.0.0/normalize.min.css")
        link(rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css")
        link(rel="stylesheet" type="text/css" href="css/style.css")
        title Aran Long
        meta(name="description" content="Aran Long portfolio website")
        meta(name="author" content="Aran Long")

    body
        header#header
            .container
                .row
                    div
                        img(src="./logo.png").image
                        br
                        br
                        h4.heading ARAN LONG
                        br
                        a(href="/resume").link RESUME
                        a.link  | 
                        a(href="http://blog.aran.site").link BLOG
                        a.link  | 
                        a(href="/contact").link CONTACT
        .section#about
            .container.u-full-width
                .row
                    h4 ABOUT
                    p I am a technical consultant that has worked on projects ranging from government led blockchain research to start up MVP development.
                    p Over the last two years I have spent my time travelling around the world, competing in hackathons from Toronto to Barcelona to Helsinki to Prague. Current and previous work includes --
                    ul
                        li Current researcher @ UK Government
                        li Current software engineer @ InventiveCogs
                        li Ex. Intern software engineer @ Autodesk
                    p I am currently seeking graduate roles with companies that are passionate about bringing new ideas to life, if you're looking for a partner in crime then please don't hesitate to get in touch.

        .section#projects
            .container.u-full-width
                .row
                    h4 PROJECTS
                .row
                    h5 HYPER-CERTS
                    p A new way to audit, verify and store academic certificates, using Hyperledger Fabric. Developed using Node, GoLang and Docker. With thanks to Blockcerts. 
                    a.link(href="#") Link coming soon.
                .row
                    h5 PERMISSION-CLOUD
                    p A research project into fundamentally changing the way we handle IOT permissions. Giving power back to the users with Blockchain.
                    a.link(href="http://blog.aran.site/cisco/") link to the project
                .row
                    h5 SEE
                    p Helping the blind see with computational vision, machine learning, natural language processing and microservices. 
                    a.link(href="https://devpost.com/software/see-81a6u7") link to the project
                .row
                    h5 NOTIFI.CLICK
                    p A no-cost notification system built using Amazon Dash buttons, endlessly customizable. 
                    a.link(href="http://blog.aran.site/hackathon-nightmares/") link to the project

        .section#footer
            .container.u-full-width
                .row
                    a &copy; Aran Long - 2017
                    a(href="https://github.com/aranscope/aran.site")  - GitHub Source
