@import url("https://fonts.googleapis.com/css?family=Lato:300,400");
html, body {
  font-family: "Lato", sans-serif;
  margin: 0;
  height: 100%; }

/*---- Text Styling ----*/
a,
p,
li {
  font-weight: 300;
  letter-spacing: 0.2em;
  font-size: 1.1em;
  text-decoration: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  letter-spacing: 0.1em; }

h1 {
  letter-spacing: 0.3em; }

h5, h6 {
  letter-spacing: 0.2em;
  margin-bottom: 0.2em; }

/*---- Section Styling ----*/
.section {
  padding: 6em 3em; }

/*---- Specific Section Styling ----*/
#header {
  min-height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center; }
  #header .heading {
    color: #2A3551;
    letter-spacing: 0.32em;
    font-size: 2em; }
  #header .image {
    max-width: 200px; }
  #header a {
    color: #6076AD;
    text-decoration: none;
    font-size: 1.2em; }

.header {
  animation: fadein 1.5s; }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

#about {
  clip-path: polygon(50% 3em, 100% 0, 100% calc(100% - 3em), 50% 100%, 0 calc(100% - 3em), 0 0);
  background-color: #3F5765;
  color: #ecf0f1; }

#projects {
  padding-top: 10rem;
  margin-top: -6rem; }
  #projects p {
    color: #484f4f;
    font-weight: 300; }
  #projects a {
    color: #5678A9; }
  #projects .row {
    padding: 1em 0 1.5em 0; }
  #projects h4 {
    margin: 0; }

#footer {
  background-color: #3F5765;
  text-align: center;
  padding: 1em; }
  #footer a {
    color: #FCFFF5; }
