
doctype html

head
    meta(charset="utf-8")
    meta(name="description" content="")
    meta(name="author" content="")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700")
    link(rel="stylesheet" href="css/resume.css")

    title Aran Long - Resume

body
    page(size="A4")
        div(id="container")
            div(id="left-page")
                div(class="side-container")
                    br
                    h1(class="center-aligned") Aran Long
                    h2 software developer.
                    br
                    hr
                    br
                    h1(class="center-aligned") SOCIAL
                    br
                    h2 email
                    h2 hello@aranlong.co.uk
                    br
                    h2 github
                    h2 /aranscope
                    br
                    h2 web
                    h2 aran.site
                    br
                    h2 twitter
                    h2 @aranscope
                    br
                    br
                    br
                    h1(class="center-aligned") SKILLS
                    br
                    h2 Java, C/C++, NodeJS, Javascript, Haskell, OCaml, Python, Microservices/REST, Git, HTML, CSS3, Robotics.
                    br
                    h2 Proven teaching and public speaking skills.
                    br
                    h2 Experience in industry leading dev teams.
                    br
                    h2 Event experience around the world.

            div(id="right-page")
                div(class="side-container")
                    h2 experience
                    hr
                    section(id="experience" class="section")
                        div(class="row")
                            div(class="left-col")
                                h3 InventiveCogs
                                p BIRMINGHAM, UK. SEPT 2016 - ONGOING.
                            div(class="right-col")
                                p Technical consultant / software developer. Designing technical architecture and maintaining infrastructure.

                        div(class="row")
                            div(class="left-col")
                                h3 Autodesk LTD.
                                p BIRMINGHAM, UK. SUMMER 2016.
                            div(class="right-col")
                                p Rewrote core XML reading and parsing libraries leading to 100% backend UNIX compatibility. Part of the most profitable team in manufacturing using C++14 standards.

                        div(class="row")
                            div(class="left-col")
                                h3 University
                                p BIRMINGHAM, UK. Sept 2016 - ONGOING.
                            div(class="right-col")
                                p Giving talks and taught sessions on robotics to schools all over the UK. Student ambassador at open, applicant and CAS training days.

                    h2 education
                    hr
                    section(id="education" class="section")
                        div(class="row")
                            div(class="left-col")
                                h3 University of Birmingham
                                p BIRMINGHAM, UK. 2015 - 2019.
                            div(class="right-col")
                                p Studying for a Computer Science BSc w/ industrial placement. Achieved a 1st class grade (81%) in first year. Notably acheiving the highest grade in the year (100%) in both Robotics and the Language and Logic exam.

                        div(class="row")
                            div(class="left-col")
                                h3 St. Brendan's Sixth Form
                                p BRISTOL, UK. 2013 - 2015.
                            div(class="right-col")
                                p Achieved A* A A in A2 Maths , Physics and Computing. Achieved A A in AS Further Maths and Design and Tech. Led student robotics team to national quarter finals.

                    h2 achievements
                    hr
                    section(id="achievements" class="section")
                        div(class="row")
                            div(class="left-col")
                                h3 Junction
                                p HELSINKI, FIN. NOV 2016.
                            div(class="right-col")
                                p Deezer prize for developing 'BusOff!', a bus stop hack to let you dance with people around the world.

                        div(class="row")
                            div(class="left-col")
                                h3 Brumhack
                                p BIRMINGHAM, UK. NOV 2016.
                            div(class="right-col")
                                p 1st place for developing 'see', a computer vision and natural language powered platform to help the blind see.

                        div(class="row")
                            div(class="left-col")
                                h3 HackUPC
                                p BARCELONA, ES. OCT 2016.
                            div(class="right-col")
                                p Best use of Amazon AWS prize for developing notifi.click, a no cost notification platform using the Amazon Dash.

                        div(class="row")
                            div(class="left-col")
                                h3 HackMidlands
                                p BIRMINGHAM, UK. OCT 2016.
                            div(class="right-col")
                                p 2nd place finalists and MajesticSEO prize for 'DanceAuth', shape slicing security.

                        div(class="row")
                            div(class="left-col")
                                h3 HackNotts
                                p NOTTINGHAM, UK. NOV 2015.
                            div(class="right-col")
                                p Best use of CapitalOne prize for 'StockMotion', an education stock trading game using leap motion.

                        div(class="row")
                            div(class="left-col")
                                h3 AstonHack
                                p BIRMINGHAM, UK. OCT 2015.
                            div(class="right-col")
                                p 2nd place finalists, MLH and CapGemini prize for 'TwEAT', a Twitter visualization tool based on agar.io

                        div(class="row")
                            div(class="left-col")
                                h3 Cisco
                                p LONDON, UK. OCT 2015.
                            div(class="right-col")
                                p 1st place champions in the Cisco University Challenge for developing PermissionCloud, a Bitcoin inspired approach to IOT security.

                    h2 projects
                    hr
                    section(id="projects" class="section")
                        div(class="row")
                            div(class="left-col")
                                h3 Travlr
                                p ONTARIO, CA. SEP 2016.
                            div(class="right-col")
                                p Developed machine learning travel app using Node, Express, React, JS. Likely provoked early release of Google Trips.

                        div(class="row")
                            div(class="left-col")
                                h3 Gadget Show
                                p VARIOUS, UK. SUMMER 2016.
                            div(class="right-col")
                                p Developed speed dating chatbot to feature on the UK TV series. I built the data entry stack and architected the project.

                        div(class="row")
                            div(class="left-col")
                                h3 Robotics
                                p BIRMINGHAM, UK. SPRING 2016.
                            div(class="right-col")
                                p Led a team of 10 developers in creating a prototype multi-robot autonomous warehouse system.

                        div(class="row")
                            div(class="left-col")
                                h3 Geodonation
                                p MANCHESTER, UK. APR 2016.
                            div(class="right-col")
                                p A charity analytics platform  using the Pebble smartwatch, QR scanning and an IOT donation box.

                        div(class="row")
                            div(class="left-col")
                                h3 AeroNode
                                p BRISTOL, UK. SPRING 2015.
                            div(class="right-col")
                                p A telemetric data logging platform for small-sized aircraft. Using a custom designed shield for the Arduino microcontroller.
